/* https://unsplash.com/@my_nata_lia */

:root {
	--main-color: rgb(243, 255, 83);
	--navbar-background: rgb(244, 244, 244);
}

* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.navbar {
	width: 100vw;
	background-color: var(--navbar-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar > * {
	margin: 45px;
}

mark {
	background-color: var(--main-color);
}

#navbar-left-section {
	width: min-content;
}

#navbar-left-section > * {
	text-wrap-mode: nowrap;
}

#navbar-left-section:hover {
	cursor: pointer;
}

#navbar-right-section {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar-right-section > span {
	padding: 15px;
}

#navbar-right-section > span:hover {
	cursor: pointer;
	background-color: var(--main-color);
}

#home-page-first-section{
    flex: 1;
    display: flex;
    flex-direction: row;
}

#home-page-first-section-mobile{
    display: none;
}

#first-section-text{
    flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

#home-page-first-section-image {
    flex: 1;
    background-image: url(./assets/images/home-page-image-1.jpg);
    background-position: right;
    background-size: cover;
}

#first-section-text > pre{
	font-size: 3.6rem;
}

#homepage-second-section, #homepage-third-section{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
#second-section-yellow-box{
	height: 100px; width: 500px; background-color: var(--main-color);position: absolute;z-index: -1;
}
#second-section-pre{
	font-size: 2rem; font-weight: 200; line-height:2;
}

#third-section-image{
	background-image: url(./assets/images/third-section-image.jpg);
	background-size: cover;
	width: 700px;
	height: 550px;
	position: absolute;
	right: 0;
	z-index: -1;
}

#third-section-glass-div{
	width: 700px;
	/* background-color: rgb(244, 244, 244, 0.5); */
	background: linear-gradient(90deg,rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 70%, rgba(243, 255, 83, 1) 100%);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	text-align: justify;
	padding: 50px;
}

#third-section-glass-div > pre{
	font-size: 3rem;
}

input[type="button"]{
	background-color: white;
	padding: 10px 15px 10px 15px;
	border: 1px solid black;
	color: black;
	cursor: pointer;
	font-size: 16px;
	transition: 300ms;
	font-style: italic;
}
input[type="button"]:hover{
	filter: invert(100%);
}

/* Mobile screens */
@media (max-width: 730px) {
	#first-section-text > pre{
		font-size: 2rem;
	}

	#navbar-right-section {
		display: none;
	}

	.navbar > * {
		margin: 20px;
	}

    #home-page-first-section{
        display: none;
    }
    #home-page-first-section-mobile{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

	#home-page-first-section-image {
        flex: 3;
		background-image: url(./assets/images/home-page-image-1.jpg);
		background-position: right;
		background-size: cover;
	}
    
    #first-section-text{
        flex: 1;
    }

	#second-section-yellow-box{
		width: 70%;
	}
	#second-section-pre{
		font-size: 1.3rem; 
	}
	#third-section-image, #third-section-glass-div{
		width: 100%;
		overflow: hidden;
	}
	/* #third-section-glass-div > pre{
		font-size: 1rem;
	} */
}
